body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dog-image {
  width: 400px;
  height: auto;
  padding-right: 400px;
}

button {
  width: 5px;
}